body, h1   {
    margin: 100px 0 0 0;
    text-align: center;
}

h1.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
}

p.subheading {
    margin: 10px 0 50px 0;
    font-family: 'Sacramento', cursive;
    font-size: 24px;


}

.food_kitchen {
    max-width: 15%;
    height: auto;
}


