body, h1   {
    margin: 100px 0 0 0;
    text-align: center;
}

h1.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
}

p.subheading {
    margin: 10px 0 50px 0;
    font-family: 'Sacramento', cursive;
    font-size: 2.2em;


}

.food_kitchen {
    max-width: 15%;
    height: auto;
}

.skills-image {
    max-width: 7.5%;
    height: auto;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}
