body, h1   {
    margin: 0;
}

.title {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 200px;
    top: 200px;
    background-color: red;
}




.top {
    height: 200px;
    width: 200px;
    left: 400px;
    top: 400px;
    position: absolute;
    background-color: blue;
}

.bottom {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: yellow;
}



